* {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 250px auto 175px 50px auto;
  grid-template-rows: 175px auto 250px 50px auto;
  height: 100vh;
  width: 100%;
}

/* Colors */

.item1  { background:#5BCFFB; }
.item2  { background:#F5A9B8; }
.item3  { background:#EAF9FF; }
.item4  { background:#F08CA2; }
.item5  { background:#4ABDEB; }

.item6  { background:#FFD6E0; }
.item7  { background:#FFFFFF; }
.item8  { background:#5BCFFB; }
.item9  { background:#F5A9B8; }
.item10 { background:#4ABDEB; }

.item11 { background:#F08CA2; }
.item12 { background:#EAF9FF; }
.item13 { background:#5BCFFB; }
.item14 { background:#FFD6E0; }
.item15 { background:#F5A9B8; }

.item16 { background:#4ABDEB; }
.item17 { background:#F08CA2; }
.item18 { background:#FFFFFF; }
.item19 { background:#5BCFFB; }
.item20 { background:#FFD6E0; }

.item21 { background:#F5A9B8; }
.item22 { background:#4ABDEB; }
.item23 { background:#EAF9FF; }
.item24 { background:#F08CA2; }
.item25 { background:#5BCFFB; }